out
.idea
*/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

acro_frontend/node_modules
acro_frontend/.pnp
acro_frontend/.pnp.js

# testing
acro_frontend/coverage

# next.js
acro_frontend/.next/
acro_frontend/out/

# production
acro_frontend/build

# misc
acro_frontend/.DS_Store
acro_frontend/*.pem

# debug
acro_frontend/npm-debug.log*
acro_frontend/yarn-debug.log*
acro_frontend/yarn-error.log*

# local env files
acro_frontend/.env.local
acro_frontend/.env.development.local
acro_frontend/.env.test.local
acro_frontend/.env.production.local

# vercel
acro_frontend/.vercel

# typescript
acro_frontend/*.tsbuildinfo


# eslint
acro_frontend/.eslintcache

# stylelint
acro_frontend/.stylelintcache