.intro-contaner {
  padding-left: 12px;
  position: absolute;
  bottom: 60px;
  width: 100%;
  margin-bottom: 20px;
  z-index: 60;
  margin-left: 5px;
}

.title-container {
  //align-items: center;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
}

.brief-container {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.title {
  font-size: 25px !important;
  font-family: PingFang SC,DFPKingGothicGB-Medium,sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.username {
  font-size: 17px !important;
  font-family: PingFang SC,DFPKingGothicGB-Medium,sans-serif;
  font-weight: 400;
  //color: rgba(255, 255, 255, 0.85) !important;
  margin-left: 10px;
  cursor: pointer;
}

.title-time {
  font-size: 14px !important;
  font-family: PingFang SC,DFPKingGothicGB-Medium,sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7) !important;
}

.brief-text {
  font-size: 16px !important;
  font-family: PingFang SC,DFPKingGothicGB-Medium,sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.6) !important;
}

.keyword {
  margin-top: 10px;
  cursor: pointer;
}