.container {
  overflow: hidden;
  min-width: 680px;

  :global(.arco-card) {
    margin-bottom: 16px;
  }

  .top-user-info-wrapper {
    display: flex;
    padding: 32px;

    :global(.arco-card-body) {
      width: 100%;
    }

    .top-user-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      .top-user-card-left {
      }

      .top-user-card-right {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .nickname {
          height: auto;
          font-size: x-large;
          margin-left: 4px;
          color: var(--color-text-1);
          display: flex;
          // child vertical align center
          align-items: center;

          .change-nickname {
            margin-left: 16px;
          }

          .follow {
            margin-left: 16px;
          }
        }

        .username {
          margin-left: 4px;
          color: var(--color-text-3);
        }
      }

      .top-user-addon-info {
        margin: 20px 32px;
        display: flex;
        align-items: center;
      }
    }
  }

  .user-addon-count-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;

    font-size: medium;

    .user-addon-count-type {
    }

    .user-addon-count-data {
      margin-top: 4px;
      color: var(--color-text-1);
    }
  }
}

.card-block {
  cursor: pointer;
  margin: 8px;

  :global(.arco-card-body) {
    padding: 0;
  }

  :global(.arco-card-header) {
    border-bottom: none;
    height: auto;
    padding: 16px 16px 0;
  }

  .video-card-extra-like {
    position: absolute;
    right: 16px;
    bottom: 212px;

    .video-card-extra-like-count {
      text-align: center;
      line-height: 1;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .video-card-extra-seen {
    margin-left: 16px;
  }

  .video-card-bottom-mask {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .video-card-uploaded-control {
    position: absolute;
    right: 12px;
    top: 16px;

    :global(.arco-tag-icon) {
      margin-right: 0;
    }
  }

  .video-card-bottom {
    padding: 10px;
    //display: flex;
    line-height: 24px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    // vertical align
    display: inline-block;

    .video-user-card-block {
      align-items: center;
      display: flex;
    }

    .content {
      padding-top: 4px;
      color: var(--color-text-1);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.8em;
      max-height: 3.6em;
      min-height: 3.6em;
      word-wrap: break-word;
    }

    .nickname {
      margin-left: 4px;
      color: var(--color-text-1);
    }

    .username {
      margin-left: 4px;
      color: var(--color-text-3);
    }

    .icon {
      height: 24px;
      width: 24px;
      color: var(--color-white);
      background: #626aea;
      text-align: center;
      line-height: 24px;
      border-radius: 50%;
      margin-right: 8px;
      cursor: pointer;
    }

    .status {
      margin-left: 12px;
    }

    .more {
      color: var(--color-text-4);
      font-size: 16px;
      position: absolute;
      right: 16px;
      cursor: pointer;
      opacity: 0;
    }
  }

  .title-more {
    .more {
      opacity: 1;
    }
  }

  .time,
  .keyword > :global(.arco-typography),
  :global(.arco-descriptions-item-label),
  :global(.arco-descriptions-item-value) {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-3);
    padding: 0;
    line-height: 20px;
  }

  :global(.arco-descriptions-item-value) {
    color: var(--color-text-2);
    padding-left: 6px;
  }

  .time {
    // align to the right bottom
    position: absolute;
    right: 8px;
    bottom: 5px;
    width: auto;
  }

  .keyword {
    //display: inline-block;
    color: var(--color-text-3);
    padding-top: 10px;
    margin-right: 52px;

    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2em;
    max-height: 4em;
    min-height: 4em;
    word-wrap: break-word;
  }

  .extra {
    display: flex;
    flex-direction: row-reverse;
  }

  &-skeleton {
    :global(.arco-skeleton-content .arco-skeleton-text-row:not(:last-child)) {
      height: 14px;
      margin-bottom: 8px;
    }
  }
}

.card-block:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 10%);

  .title {
    .more {
      opacity: 1;
    }
  }
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.02);
}

.video-card {
  height: 480px;
}

.video-dropdown-icon {
  margin-right: 12px;
  color: var(--color-text-3);
}

.user-card-left {
}

.user-card-right {
  flex-grow: 1;
}

.user-name-info {
  margin-left: 4px;
  display: flex;
  flex-direction: column;

  .nickname {
    margin-left: 8px;
    color: var(--color-text-1);

    font-size: medium;

    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.2em;
    max-height: 2.2em;
    min-height: 2.2em;
    word-wrap: break-word;
  }

  .username {
    margin-left: 8px;
    color: var(--color-text-3);

    font-size: small;

    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6em;
    max-height: 1.6em;
    min-height: 1.6em;
    //break characters
    word-break: break-all;
  }
}

.avatar {
  :global(.arco-avatar-image) {
  }

  :global(.arco-avatar-image)::after {
    //content: '';
    //position: absolute;
    //top: 0;
    //left: 0;
    //width: 100%;
    //height: 100%;
    //background: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
    //border-radius: 50%;
  }
}